body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.navbar {
    padding-top: 0!important;
}
div#navbarSupportedContent {
    margin-top: -24px;
}
.nav-tabs {
    justify-content: center;
    background: #f3f3f3;
    border-bottom: transparent!important;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}
.bg-nav {
    background-color: #f3f3f3;
}
.carousel-indicators [data-bs-target] {
    background-color: #000!important;
    margin-right:0!important;
    margin-left:0!important;
}
.carousel button.active {
    background-color: #c50c1c!important;
}
a.nav-link.active {
    background: #c50c1c;
    border-radius: 0 0 8px 8px;
}
.nav-link {
    color: #000;
}
li.nav-item a {
    font-weight: 500;
}
li.nav-item {
    padding: 0 8px;
}
.nav-link:hover {
    color: #000!important;
}
.nav-tabs .nav-link.active {
    color: #000!important;
    background-color: #fff;
    border-color: #fff;
}
.nav-tabs button {
    color: #000;
    font-weight: bold;
}
.carousel-control-prev-icon {
    background-image: url(assets/arrow-left.png)!important;
}
.carousel-control-next-icon {
    background-image: url(assets/arrow-right.png)!important;
}
.representantes .col-lg-3 {
    border-right: 3px solid #c50c1c;
}
.representantes img {
    display: flex;
    margin: 0 auto;
}
a.navbar-brand {
    background-image: url(assets/logo.png);
    background-size: cover;
    width: 150px;
    height: 50px;
    margin: 7px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000!important;
}
a.nav-link.active.text-white.waves-effect.waves-light {
    color: #fff!important;
}
.celack p, .informations p, .address p {
    margin: 0;
}
.informations p, p.medium {
    font-weight: 500;
}
.img-cards img {
    width: 100%;
}
span.bike-name {
    font-weight: 500;
}
a.saiba-mais {
    float: right;
    color: #c50c1c;
    font-weight: 500;
    text-decoration: none;
}
.nav-tabs button:nth-of-type(2)::after, .nav-tabs button:nth-of-type(3)::after {
    content: "";
    border-right: 3px solid #c50c1c;
    margin-left: 16px;
}
.nav-tabs .carousel-control-next-icon {
    margin: 8px 0;
}
.carousel {
    background: #f3f3f3;
}
.text-white:hover {
    color: #fff!important;
}
.mb-custom {
    margin-bottom: 12px;
}
.wrp-icon {
    position: absolute;
    top: 5px;
    right: -5px;
}

.desktop {
    display: block;
}
.mobile {
    display: none;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .mtmob-3 {
        margin-top: 1rem;
   }
    .navbar {
        padding-top: inherit;
        margin: inherit;
   }
    ul.navbar-nav {
        margin-top: 16px!important;
        border: 1px solid #d3d3d3;
        padding-top: 8px;
        border-radius: 4px;
   }
    a.nav-link.active {
        background: #c50c1c;
        border-radius: 4px;
        padding: 8px;
   }
    .desktop {
        display: none;
   }
    .mobile {
        display: block;
   }
}

/* form */
form input {
    margin: 4px 0;
}
#cidade {
    float: left;
    width: 75%;
}
#uf {
    float: right;
    width: 20%;
}
#celular {
    float: left;
    width: 49%;
}
#whatsapp {
    float: right;
    width: 49%;
}
button.btn.btn-primary {
    background: #c50c1c;
    border: transparent;
}
/* form */

/* carousel */
.flipster {
    overflow-x: inherit!important;
}
.flipster__nav {
    position: absolute;
    bottom: -2rem!important;
    z-index: 999;
    margin-left: 42%!important;
}
a.flipster__nav__link {
    color: transparent;
}
.carousel-fliper {
    padding-bottom: 5rem;
}
li.flipster__nav__item.flipster__nav__item--current:after {
    content: "";
    width: 50px;
    background: #c50c1c;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 5px;
}

/* democss */
.flipster__item.flipster__item--current img {
    width: 100%;
}
.flipster--flat .flipster__item--past .flipster__item__content, .flipster--flat .flipster__item--future .flipster__item__content {
    -webkit-transform: scale(.20);
    -ms-transform: scale(.20);
    transform: scale(0.20);
    transition: all 400ms ease-out;
    position: relative;
    margin-bottom: -20%;
}
.flipster--flat .flipster__item--current .flipster__item__content {
    transition: all 400ms ease-in;
}
.flipster--flat .flipster__item--past, .flipster--flat .flipster__item--future {
    opacity: 1;
}

/* tabs */
.scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-left:before {
    content: "<";
    font-size: 45px;
    line-height: 0;
    color: #000;
    font-weight: bold;
    margin-right: 40px!Important;
    float: left;
    position: absolute;
    left: 25%;
}
.scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-right:before {
    content: ">";
    font-size: 45px;
    line-height: 0;
    color: #000;
    font-weight: bold;
    margin-left: 15px;
}
a.nav-link {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.scrtabs-tab-container {
    height: 55px;
    padding-top: 2rem;
    background: #f3f3f3;
}
.scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-left, .scrtabs-tab-scroll-arrow.scrtabs-tab-scroll-arrow-right {
    background: #f3f3f3;
    border: 0;
}
.nav-tabs .nav-link.active {
    color: #000!important;
}
ul.nav-tabs li a.nav-link {
    border-right: 2px solid red;
    border-radius: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #333;
    border-right: 2px solid red!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent!important;
}
.nav-tabs>li {
    float:none;
}
.tab-content {
    background: #fff;
}
/* tabs */
