.jqvmap-label
{
	position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
  pointer-events:none;
}
.jqvmap-pin {
  pointer-events:none;
}
.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #000000;
	padding: 3px;
	color: white;
	width: 10px;
	height: 10px;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
}
.jqvmap-zoomin
{
	top: 10px;
}
.jqvmap-zoomout
{
	top: 30px;
}
.jqvmap-region
{
  cursor: pointer;
}
.jqvmap-ajax_response
{
  width: 100%;
  height: 500px;
}
@media (max-width: 767px) {
		#vmap {
			margin-bottom: 1rem;
		}
		.estados-textos {
			border-left: inherit!important;
			margin: 1rem 0!important;
		}
		#select {
			text-align: center;
		}
		.fed {
			padding-top: 0!Important;
		}
	}

h2.title {
	margin-top: -5px;
	margin-bottom: 0px;
	font-size: 18px;
	color: #c50c1c;
}

/* thayna */
#vmap {
	width: 100%; 
	float: left; 
	height: 300px;
	padding: 1rem;
}
.fed {
	float: left; 
	max-height: 300px;
	align-items: center;
	padding: 1rem;
}
.fed .texto {
    margin: 12px 0;
}
#representantes .col-lg-4 {
	align-items: center;
	overflow: auto;
}
.estados-textos {
    border-left: 3px solid #c50c1c;
    margin: 2rem 0;
}
#select {
	padding: 1rem;
}