
html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }
.navbar {
    padding-top: 0!important;
}
div#navbarSupportedContent {
    margin-top: -24px;
}
.bg-nav {
    background-color: #f3f3f3;
}
.carousel-indicators [data-bs-target] {
    background-color: #000!important;
    margin-right:0!important;
    margin-left:0!important;
}
.carousel button.active {
    background-color: #c50c1c!important;
}
a.nav-link.active {
    background: #c50c1c;
    border-radius: 0 0 8px 8px;
}
a.nav-link.active.text-white {
    color: #fff!important;
}
.nav-link {
    color: #000;
}
li.nav-item a {
    font-weight: 500;
}
li.nav-item {
    padding: 0 8px;
}
.nav-link:hover {
    color: #000!important;
}
.carousel-control-prev-icon {
    background-image: url(../assets/arrow-left.png)!important;
}
.carousel-control-next-icon {
    background-image: url(../assets/arrow-right.png)!important;
}
a.navbar-brand {
    background-image: url(../assets/logo.png);
    background-size: cover;
    width: 150px;
    height: 50px;
    margin: 7px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000!important;
}
a.nav-link.active.text-white.waves-effect.waves-light {
    color: #fff!important;
}
.celack p, .informations p, .address p {
    margin: 0;
}
.informations p, p.medium {
    font-weight: 500;
}
.img-cards img {
    width: 100%;
}
span.bike-name {
    font-weight: 500;
}
a.saiba-mais {
    float: right;
    color: #c50c1c;
    font-weight: 500;
    text-decoration: none;
}
a.saiba-mais:hover {
    color: #eb182b;
}
.carousel {
    background: #f3f3f3;
}
.text-white:hover {
    color: #fff!important;
}
.mb-custom {
    margin-bottom: 12px;
}
.wrp-icon {
    position: absolute;
    top: 10%;
    right: -3%;
}

.desktop {
    display: block!important;
}
.mobile {
    display: none!important;
}

/* On screens that are 767px or less, set the background color to olive */
@media screen and (max-width: 767px) {
    .mtmob-3 {
        margin-top: 1rem;
   }
    .navbar {
        padding-top: inherit;
        margin: inherit;
   }
    ul.navbar-nav {
        margin-top: 32px!important;
        border: 1px solid #d3d3d3;
        padding-top: 8px;
        border-radius: 4px;
   }
    a.nav-link.active {
        background: #c50c1c;
        border-radius: 4px;
        padding: 8px;
   }
    .desktop {
        display: none!important;
   }
    .mobile {
        display: block!Important;
   }
    div#v-pills-tab {
        position: absolute;
        width: 30px!Important;
        height: 15px!important;
        z-index: 999999;
        bottom: 27%;    
        left: 5%;
    }
    .container.product-details {
        padding-top: 2rem;
    }
    #v-pills-tab button {
        border: 1px solid #000!Important;
        margin: 2px;
        padding: 2px;
    }
    span.wrp-icon {
        left: 33%;
    }
}

/* form */
form input {
    margin: 4px 0;
}
#cidade {
    float: left;
    width: 75%;
}
#uf {
    float: right;
    width: 23%;
}
#celular {
    float: left;
    width: 49%;
}
#whatsapp {
    float: right;
    width: 49%;
}
button.btn.btn-primary {
    background: #c50c1c;
    border: transparent;
}
/* form */

/* carousel */
.flipster {
    overflow-x: inherit!important;
}
.flipster__nav {
    position: absolute;
    bottom: -2rem!important;
    z-index: 999;
    margin-left: 42%!important;
}
a.flipster__nav__link, a.flipster__nav__link:hover {
    color: transparent;
}
.carousel-fliper {
    padding-bottom: 5rem;
}
li.flipster__nav__item.flipster__nav__item--current:after {
    content: "";
    width: 50px;
    background: #c50c1c;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 5px;
}

/* democss */
.flipster__item.flipster__item--current img {
    width: 100%;
}
.flipster--flat .flipster__item--past .flipster__item__content, .flipster--flat .flipster__item--future .flipster__item__content {
    -webkit-transform: scale(.20);
    -ms-transform: scale(.20);
    transform: scale(0.20);
    transition: all 400ms ease-out;
    position: relative;
    margin-bottom: -20%;
}
.flipster--flat .flipster__item--current .flipster__item__content {
    transition: all 400ms ease-in;
}
.flipster--flat .flipster__item--past, .flipster--flat .flipster__item--future {
    opacity: 1;
}

/* tabs */
.nav-tabs {
    justify-content: center;
    border-bottom: transparent!important;
    background: #f3f3f3;
  }
  .nav-tabs button.nav-link.active {
    border-radius: 8px 8px 0 0;
    }
  .nav-tabs-container button, .nav-tabs .nav-link.active {
      color: #000!important;
  }
  button.nav-link.active {
    border-right: 0px solid #f3f3f3!Important;
}
  .nav-tabs-container button:not(:last-child):after {
    content: "";
    border-right: 2px solid #c50c1c;
    margin-left: 1rem;
  }
  .nav-tabs-container button.active:after {
    content: "";
    display:none;
  }
  div#nav-tabContent img {
    max-width: 100%;
}

/* tabs */


/* breadcrumb */
#breadcrumb {
    background: #f3f3f3;
}
li.breadcrumb-item a {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

/* detalhes-produto */
#detalhes-produto {
    background: #f3f3f3;
    padding: 1rem 0;
}
div#v-pills-tabContent {
    background: #fff;
    border-radius: 4px;
}
#detalhes-produto img {
    max-width: 100%;
}
.nav-pills .nav-link.active {
    color: #fff;
    background-color: #fff!important;
}
#v-pills-tab button {
    width: 100%;
}
.flex-column {
    align-items: end;
    margin-right: 1rem;
} 
div#v-pills-tab {
    width: 100px;
    height: 800px;
    justify-content: center;
}
.container .product-details {
    background: #fff;
    padding-bottom: 1rem;
    border-radius: 0 0 8px 8px;
}
.product-details span {
    display: block;
    font-size: 14px;
}
span.text-bold {
    font-weight: 500;
    display: initial;
}
h5.text-red {
    color: #c50c1c;
}
ul.colors-group span {
    width: 20px;
    height: 20px;
    margin: 4px;
}
ul.colors-group {
    width: 85%;
    flex-wrap: wrap;
}


/* carousel .mobile */
ol.carousel-indicators li {
    border: 1px solid #c50c1c;
    height: 5px;
    width: 20px;
    margin: 4px;
    margin-top: 1rem;
}
.carousel-indicators .active {
    background: #c50c1c;
}
#carouselBikes img {
    width: 75%;
    margin: 0 auto;
}

/* scrollbar */
/* width */
#representantes ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #representantes ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  #representantes ::-webkit-scrollbar-thumb {
    background: #c50c1c; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #representantes ::-webkit-scrollbar-thumb:hover {
    background: #c50c1c; 
  }

  /* representantes */
  select#estado {
        border-radius: 4px;
    }